.Results {
  /* overflow-y: scroll; */
  align-items: stretch;
}

.song {
  color: white;
  margin: 2vh auto;
  font-size:xx-large;
  text-justify: auto;
  background-color: rgba(128, 128, 128, 0.678);
  border: 1vh solid black;
  text-align: center;
  display: flex;
  justify-content: baseline;
}

.song:hover {
  background-color: rgb(22, 22, 22);
  translate: 30px;
  /* transition: translate 200ms ease-in-out; */
  transition: background-color 200ms ease-in-out, translate 300ms ease-in-out;
  
}

.song>img {
  height: 200px;
  border: 1vh solid black;
  border-style: ridge;
  border-radius: 10%;
}
