.SearchParams {
	display: flex;
	flex-direction: row;
	font-size: xx-large;
	width: 100%;
}

.slider {
	/* align-items: stretch; */
  margin: 5% auto;
	border: .5vmin ridge black;
	background-color: rgba(128, 128, 128, 0.678);
	color: white;
}

.slider>range {
 width: 100%
}

h3 {
	margin: 1vmin 0 0;
	color: white;
}

/* Style the select element */
select {
  padding: 8px;
  border: .5vmin ridge black;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: rgba(128, 128, 128, 0.678);
	width: 100%;
	margin: .5vmin 0;
}

/* Style the dropdown arrow */
select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #333 transparent transparent transparent;
  pointer-events: none;
}

/* Style the dropdown options */
select option {
  color: #333;
  background-color: #fff;
}

/* Hover effect on dropdown options */
select option:hover {
  background-color: #f2f2f2;
}